body{
    margin: 0;
    padding: 0;
}

header{
    max-height: 25vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-bottom: 2rem;
}

main{
    background-color: aliceblue;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.teacher-container{
    max-width: 450px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 5rem;
    text-align: center;
}

.teacher-img{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.teacher-name{
    font-weight: 900;
}

.teacher-price{
    font-weight: 700;
    color: crimson;
}

.teacher-description{
    margin-top: 2rem;
    margin-top: 2rem;
}

.teacher-contract{
    display: flex;
    justify-content: space-between;
}

.teacher-contract-hours{
    width: 48%;
    color: #565656;
    background-color: aliceblue;
    outline: none;
    border: 1px solid #c4c4c4;
    padding: 1rem 0;
    text-align: center;
}

.teacher-contract-button{
    width: 48%;
    color: #fff;
    background-color:crimson;
    border: none;
    font-weight: 900; 
    transition: background-color 0.5s;
}

.teacher-contract-button:hover{
    background-color: rgb(250 50 100);
    }